</div>
</section>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Твиттер Виктории Витальевны</strong> лучший написанный твиттер.
        </p>
    </div>
</footer>
</body>
</html>