<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Вика Twitter</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="/resources/css/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<section class="wrapper section">
    <div class="container">
        <nav class="level">
            <!-- Left side -->
            <div class="level-left">
                <div class="level-item">
                    <a href="/public"><img class="logo" src="/resources/img/logo.jpg" alt="Логотип"></a>
                </div>
            </div>
            <div class="level-center">
                <p class="level-item title">Лучший твиттер Виктории Витальевны</p>
            </div>
            <!-- Right side -->
            {% if login == false %}
                <div class="level-right">
                    <p class="level-item"><a class="button is-light" href="/public/login">Войти</a></p>
                    <p class="level-item"><a class="button is-link" href="/public/register">Регистрация</a></p>
                </div>
            {% else %}
                <form action="/public/login/logout" method="POST">
                    <div class="level-right">
                        <button class="level-item button is-light">Выйти</button>
                    </div>
                </form>
            {% endif %}
        </nav>