<div class="column is-one-quarter">
    <div class="content">
        <h3 class="content">Привет, {{ user_username }}</h3>
    </div>
    <aside class="menu">
        <ul class="menu-list">
            <li><a class="menu-list-a" href="/public/feed">Лента</a></li>
            <li><a class="menu-list-a" href="/public/profile/{{ user_username }}">Профиль</a></li>
            <li><a class="menu-list-a">Подписки</a></li>
            <li><a class="menu-list-a" href="/public/settings">Настройки</a></li>
        </ul>
    </aside>
</div>