{% include 'components/header.twig' %}
<div class="columns content">
    {% if login %}
        {% include 'components/menu.twig' %}
    {% endif %}
    <div>
    <div>
        <h2>Лайкнувшие пост</h2>
    </div>
    {% for user in users %}
        <div class="media">
            <figure class="image is-48x48">
                <img src="{{ user.avatar }}" alt="Placeholder image">
            </figure>
            <p>{{ user.name }} <a href="/public/profile/{{ user.username }}">@{{ user.username }}</p>
        </div>
    {% endfor %}
    </div>
</div>
{% include 'components/footer.twig' %}