{% include 'components/header.twig' %}

<div class="columns">
    {% include 'components/menu.twig' %}
    <div class="column">
        <div class="content">

            <div>
                <h1>Изменить пост</h1>
                {% include error|default('msg/none')~'.twig' %}
                <form action="/public/post/edit" enctype="multipart/form-data" method="post">
                    <input type="hidden" name="post_id" value="{{ post_id }}">
                    <div class="field">
                        <h3>Изображение:</h3>
                        {% if img_url %}
                            <img class="" src="{{ img_url }}" alt="Изображение">
                        {% else %}
                            <p>Изображение отсутствует</p>
                        {% endif %}
                        <div id="upload-file" class="file has-name">
                            <label class="file-label">
                                <input class="file-input" type="file" name="image">
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">Выберите изображение...</span>
                                </span>
                                <span class="file-name">Файл не выбран</span>
                            </label>
                        </div>
                        {% if img_url %}
                            <label class="checkbox" style="margin-top: 10px">
                                <input type="checkbox" name="delete-img">
                                Удалить изображение
                            </label>
                        {% endif %}
                        <script>
                            const fileInput = document.querySelector('#upload-file input[type=file]');
                            fileInput.onchange = () => {
                                if (fileInput.files.length > 0) {
                                    const fileName = document.querySelector('#upload-file .file-name');
                                    fileName.textContent = fileInput.files[0].name;
                                }
                            }
                        </script>
                    </div>

                    <div class="field">
                        <h3>Текст:</h3>
                        <textarea name="text" class="textarea is-info input-twit" cols="10"
                                  rows="5">{{ text }}</textarea>
                    </div>

                    <div class="field">
                        <button class="button is-link">Изменить</button>
                        <a href="/public/profile/{{ user_username }}" class="button is-link">Отменить</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
