{% include 'components/header.twig' %}
<div class="columns">
    {% if login == true %}
        {% include 'components/menu.twig' %}
    {% endif %}
    <div class="column">
        <div class="notification is-danger">
            Пользователь не существует
        </div>
    </div>
</div>
{% include 'components/footer.twig' %}