{% include 'components/header.twig' %}
<div class="columns">
    {% if login %}
        {% include 'components/menu.twig' %}
    {% endif %}
    <div class="column">
        <div class="back content">
            <h1 class="has-text-centered">Профиль {{ user.username }}</h1>
            <img class="avatar-settings" src="{{ user.avatar }}" alt="Аватарка">
            <h2 style="margin-top: 0">{{ user.name }}</h2>
            <p style="margin-top: 0">@{{ user.username }}</p>
            <p><b>Читателей:</b> 11 <b>Читаемых:</b> 7</p>
        </div>
        {% if current_user %}
            <form action="/public/post/add" enctype="multipart/form-data" method="post">
                <div class="field">
                    <div class="control">
                        {% include msg|default('msg/none')~'.twig' %}
                        <textarea class="textarea is-info input-twit" name="text" placeholder="Напишите что нибудь"
                                  rows="2"></textarea>
                        <div id="upload-file" class="file has-name">
                            <label class="file-label">
                                <input class="file-input" type="file" name="image">
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">Выберите изображение...</span>
                                </span>
                                <span class="file-name">Файл не выбран</span>
                            </label>
                        </div>
                        <script>
                            const fileInput = document.querySelector('#upload-file input[type=file]');
                            fileInput.onchange = () => {
                                if (fileInput.files.length > 0) {
                                    const fileName = document.querySelector('#upload-file .file-name');
                                    fileName.textContent = fileInput.files[0].name;
                                }
                            }
                        </script>
                        <button class="button is-link" style="margin-top: 10px; width: 100%">Отправить</button>
                    </div>
                </div>
            </form>
        {% endif %}

        {% if posts %}
            {% for post in posts %}
                <div class="card card-twitter">
                    {% if post.author == user_id %}
                        <form action="/public/post/delete" method="post">
                            <input type="hidden" name="post_id" value="{{ post.id }}">
                            <button class="delete" aria-label="delete"
                                    style="z-index: 1; margin: 10px; float: right;"></button>
                        </form>
                        <form action="/public/post/edit" method="get">
                            <input type="hidden" name="post_id" value="{{ post.id }}">
                            <button class="button button-edit" style="z-index: 1; float: right" aria-label="edit">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                        </form>
                    {% endif %}
                    {% if post.img %}
                        <div class="card-image has-text-centered">
                            <img style="max-height: 300px;" src="{{ post.img }}" alt="Placeholder image">
                        </div>
                    {% endif %}
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="{{ user.avatar }}" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">{{ user.name }}</p>
                                <p class="subtitle is-6">@{{ user.username }}</p>
                            </div>
                        </div>
                        <div class="content">
                            <h4>{{ post.text }}</h4>
                            <br>
                            <time>Опубликовано: {{ post.timestamp |date("d.m.Y H:i") }}</time>
                            <br>
                            <a class="level-item" aria-label="like">
                                {% if post.liked == true %}
                                <form action="/public/like/delete" method="post">
                                {% else %}
                                    <form action="/public/like/add" method="post">
                                {% endif %}
                                        <input type="hidden" name="post_id" value="{{ post.id }}">
                                        {% if post.liked == true %}
                                            <button class="button button-edit" style="z-index: 1; float: right; color: red;">
                                        {% else %}
                                            <button class="button button-edit" style="z-index: 1; float: right; color: blue;">
                                        {% endif %}
                                        <span class="icon is-small">
                                            <i class="fas fa-heart" aria-hidden="true"></i>
                                            <p style="margin-left: 5px">{{ post.count_likes }}</p>
                                        </span>
                                        </button>
                                        <span><a href="/public/post/likes?post_id={{ post.id }}">Кто лайкнул</a></span>
                                    </form>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="notification is-info is-light has-text-centered">Посты не найдены</div>
        {% endif %}


    </div>
</div>
{% include 'components/footer.twig' %}