{% include 'components/header.twig' %}
<div class="columns">
    <div class="column">
        <div class="notification is-danger">
            Данный профиль не разрешен для просмотра гостям
        </div>
    </div>
</div>
{% include 'components/footer.twig' %}