{% include 'components/header.twig' %}

<div>
    <div class="notification is-success">
        Вы успешно зарегистрировались! Теперь Вы можете <a href="/public/login">войти</a>
    </div>
</div>

{% include 'components/footer.twig' %}