{% include 'components/header.twig' %}
<div class="columns">
    <div class="column is-one-third">

    </div>
    <div class="column">
        {% include error|default('msg/none')~'.twig' %}
        <form action="#" method="post">
            <div class="field">
                <label class="label">Имя</label>
                <div class="control">
                    <input class="input" type="text" name="name" placeholder="Введите Ваше имя">
                </div>
            </div>
            <div class="field">
                <label class="label">Username</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="text" name="username" placeholder="Введите username">
                    <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
                </div>
            </div>
            <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="email" name="email" placeholder="Введите Ваш Email">
                    <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                </div>
            </div>
            <div class="field">
                <label class="label">Пароль</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="password" name="password" placeholder="Введите пароль">
                    <span class="icon is-small is-left"><i class="fas fa-key"></i></span>
                </div>
            </div>
            <div class="field">
                <label class="label">Повторите пароль</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="password" name="password-confirm" placeholder="Повторно введите пароль">
                    <span class="icon is-small is-left"><i class="fas fa-key"></i></span>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox" name="rules">
                        Я принимаю <a href="/public/register/rules">пользовательское соглашение</a>
                    </label>
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link" type="submit">Регистрация</button>
                </div>
            </div>
        </form>
    </div>
    <div class="column is-one-third"></div>
</div>
{% include 'components/footer.twig' %}