{% include 'components/header.twig' %}

<div class="columns is-vcentered">
    <div class="column is-2"></div>
    <div class="column content">
        <h1 class="has-text-centered">Правила пользования сайтом</h1>


        Настоящие правила пользования сайтом www.megamall.ru (далее — «Сайт»), разработанные ООО «ИКЕА МОС (Торговля и Недвижимость)» (далее — «Правила»), определяют условия пользования Сайтом и устанавливают права и обязанности прошедших процедуру подписки на новости, а также иных посетителей Сайта (далее совместно именуемые «Пользователи Сайта»).
        <h2>1. Общие положения</h2>

        1.1. Сайт разработан Студией Артемия Лебедева (ООО «Ротабаннер»), все права на Сайт принадлежат ООО «ИКЕА МОС (Торговля и Недвижимость)», ОГРН 1035009550080, адрес места нахождения: 141400, Российская Федерация, Московская область, г.Химки, ул. Ленинградская, владение 39, строение 5 (далее — «Компания»). Сайт посвящен торговым центрам «МЕГА». Настоящие Правила регулируются законодательством Российской Федерации, действие Правил ограничено территорией Российской Федерации.

        1.2. Компания рекомендует Пользователям Сайта ознакомиться с данными Правилами, а также Политикой Компании по обработке персональных данных. Пользуясь Сайтом, Пользователи Сайта подтверждают свое согласие с положениями Правил, а также Политикой Компании по обработке персональных данных.
        <h2>2. Интеллектуальные права</h2>

        2.1. Все результаты интеллектуальной деятельности и средства индивидуализации, размещенные на Сайте, в том числе элементы дизайна, проекты, чертежи, макеты, графические изображения (в том числе иллюстрации), фотографические произведения и произведения, полученные способами, аналогичными фотографии, текст, аудиовизуальные произведения, программы для ЭВМ, являющиеся частью Сайта, музыкальные произведения с текстом или без текста и другие произведения, а также товарные знаки и промышленные образцы охраняются в соответствии с законодательством Российской Федерации, в том числе, в соответствии с международными договорами с участием Российской Федерации. Указанные охраняемые объекты вместе и по отдельности составляют охраняемый контент Сайта (далее — «Контент»).

        2.2. Компания является правообладателем Сайта как составного произведения, а также Контента (кроме случаев, когда на соответствующей странице с Контентом указано иное).

        2.3. Кроме случаев, прямо установленных настоящими Правилами, а также действующим законодательством Российской Федерации, Контент не может быть использован (в том числе, скопирован, опубликован, воспроизведен, переработан, распространен, продан или использован иным способом) по частям или полностью без согласия Компании.

        2.4. Цитирование текстовых материалов, опубликованных на Сайте, разрешается с обязательным указанием активной гиперссылки на megamall.ru или на раздел Сайта с цитируемым Контентом.
        <h2>3. Подписка на новости</h2>

        3.1. Контент Сайта доступен Пользователям Сайта вне зависимости от их регистрации на Сайте. Однако, для того, чтобы активно пользоваться возможностями Сайта (например, получать информацию о специальных предложениях, акциях, мероприятиях, распродажах Компании, о специальных предложениях и новостях программы MEGACARD, о новостях и мероприятиях проекта Модные Недели в ТЦ «Мега», о новых выпусках журнала МЕГА Style, о мероприятиях Детского Клуба МЕГА и т.д.), необходимо подписаться на новости Компании.

        3.2. Подписка на новости осуществляется Пользователями добровольно, плата подписку не взимается. Подписаться на новости может физическое лицо, проживающее на территории Российской Федерации и достигшее 18 лет.

        3.3. При подписке на новости Пользователь должен указать необходимую достоверную и актуальную информацию, включая уникальный для каждого Пользователя Сайта адрес электронной почты , а также фамилию, имя, дату рождения, пол, семейное положение, информацию о месте проживания (область, населенный пункт или город, улица, номер дома). При подписке на новости или внесении изменений в указанные при подписке данные, по своему усмотрению, может указать дополнительную информацию о себе, в частности, отчество, дополнительную информацию о месте проживания (почтовый индекс, район, номер корпуса, номер квартиры), номер мобильного телефона, количество детей в семье, пол детей, их имена и даты их рождения. Пользователь Сайта несет ответственность за достоверность, актуальность, полноту и соответствие законодательству Российской Федерации информации предоставленной при подписке на новости.
        <h2>4. Персональные данные</h2>

        Общие положения

        4.1. Для подписки на новости необходимо предоставление персональных данных Пользователей Сайта (далее — «Персональные Данные»).

        4.2. Компания принимает все необходимые меры для защиты Персональных Данных от потери, неправильного использования, несанкционированного доступа, разглашения, изменения или уничтожения. Обработка персональных данных осуществляется Компанией в соответствии с Федеральным Законом Российской Федерации от 27.07.2006 № 152-ФЗ «О персональных данных», иными применимыми положениями законодательства Российской Федерации, а также Политикой Компании по обработке персональных данных.

        4.3. Персональные Данные, указанные Пользователем Сайта при подписке на новости на Сайте, хранятся в информационной системе персональных данных сайта megamall.ru. Если Пользователь Сайта не указал иное , Персональные Данные, указанные при подписке на новости, могут быть использованы Компанией для осуществления прямых контактов в целях информирования Пользователей Сайта о специальных предложениях, акциях, мероприятиях, распродажах Компании, о специальных предложениях и новостях программы MEGACARD, о новостях и мероприятиях проекта Модные Недели в ТЦ «Мега», о выпусках журнала МЕГА Style, о мероприятиях Детского Клуба МЕГА и т.д.

        4.4. Персональные Данные не будут передаваться третьим лицам, за исключением случаев, когда передача Персональных Данных будет необходима в соответствии с требованиями законодательства. Пользователь Сайта вправе, на основании запроса, направленного в Компанию в соответствии с п. 4.5., ознакомиться с информацией о его Персональных Данных, которые обрабатываются Компанией, требовать уточнения Персональных Данных или их удаления из информационной системы персональных данных Компании. Удаление Персональных Данных Пользователя Сайта влечет невозможность получения новостей от Компании. При этом доступ к персональным данным имеют третьи лица, осуществляющие поддержку служб и сервисов Компании и/ или исполняющие соответствующие задания (поручения) Компании, в необходимом для осуществления такой поддержки и/ или заданий (поручений) объеме.

        4.5. По вопросам, связанным с обработкой Персональных Данных, с Компанией можно связаться по адресам и телефонам, указанным в п. 7.3. Правил.

        Безопасность

        4.6. Компания принимает необходимые меры для предотвращения несанкционированного доступа к персональным данным Пользователей Сайта, указанным при подписке на новости. По этой причине подписка Пользователей Сайта на новости осуществляется с подтверждением указанного при подписке адреса электронной почты (Пользователь должен пройти по ссылке, которая будет выслана по электронной почте).

        4.7. Компания не несет ответственности за действия третьих лиц (в том числе Интернет-провайдеров, обеспечивающих техническую доступность сайта в месте нахождения Пользователя), в отношении защиты каналов связи, по которым передается информация на Сайт или с Сайта, а также не гарантирует постоянную доступность Сайта и его бесперебойную работу.

        Использование и раскрытие информации

        4.8. Если не указано иное, Компания может использовать данные, собранные с помощью Сайта для улучшения содержания Сайта, для его доработки в соответствии с предпочтениями Пользователей Сайта, для обмена информацией с Пользователями Сайта (по запросу Пользователей Сайта), для маркетинговых и исследовательских целей Компании, и для любых других определенных целей. Кроме того, Компания вправе в полной мере использовать всю информацию, полученную на Сайте не в персонально идентифицированной форме.
        <h2>5. Сайты третьих лиц</h2>

        5.1. Сайт может содержать ссылки на сайты третьих лиц в сети Интернет. Компания не контролирует такие сайты, не несет ответственность за правомерность контента, размещенного на сайтах третьих лиц, в любом случае, Правила не распространяются на пользование этими веб-сайтами. Пользователям Сайта следует ознакомиться с политикой конфиденциальности и/или правилами пользования каждого посещаемого ими сайта.
        <h2>6. Права и обязанности Пользователей Сайта</h2>

        6.1. Пользователь Сайта имеет право:

        обращаться с жалобами к Компании в отношении Контента, размещенного на Сайте, функционирования Сайта;
        подписываться на новости Компании на Сайте.

        6.2. При посещении Сайта и использовании его возможностей Пользователь Сайта обязан:

        соблюдать положения действующего законодательства Российской Федерации и настоящих Правил;
        предоставлять при подписке на новости Компании достоверные и актуальные данные, а также следить за их своевременным обновлением (в том числе информацию относительно места жительства);
        возмещать убытки, понесенные Компанией, Пользователями Сайта или третьими лицами в результате нарушения Правил или законодательства Российской Федерации;
        соблюдать Правила, а также законодательство Российской Федерации, при пользовании Сайтом ознакомиться со всей информацией юридического характера, размещенной на Сайте или доступной на нем посредством ссылок;
        регулярно проверять анонсы Компании в отношении внесения изменений в Правила;
        при несогласии с Правилами, а также анонсируемыми Компанией изменениями к ним, покинуть Сайт.

        6.3. Пользователю Сайта при использовании Сайта запрещается: публиковать и распространять на Сайте любую информацию, которая:

        содержит угрозы, дискредитирует, оскорбляет, порочит честь и достоинство или деловую репутацию или нарушает неприкосновенность частной жизни других Пользователей Сайта или третьих лиц;
        нарушает права несовершеннолетних лиц;
        является непристойной, содержит нецензурную лексику, содержит порнографические изображения и тексты или сцены сексуального характера с участием несовершеннолетних;
        содержит сцены насилия либо бесчеловечного обращения с животными;
        содержит описание средств и способов суицида, любое подстрекательство к его совершению;
        пропагандирует и/или способствует разжиганию расовой, религиозной, этнической ненависти или вражды, пропагандирует фашизм или идеологию расового превосходства;
        содержит экстремистские материалы;
        пропагандирует преступную деятельность или содержит советы, инструкции или руководства по совершению преступных действий;
        содержит информацию ограниченного доступа, включая, но не ограничиваясь, государственной и коммерческой тайной, информацией о частной жизни третьих лиц;
        содержит рекламу или описывает привлекательность употребления наркотических веществ, информацию о распространении наркотиков, рецепты их изготовления и советы по употреблению;
        носит мошеннический характер;
        нарушает права третьих лиц на результаты интеллектуальной деятельности;
        нарушает права субъектов персональных данных;
        нарушает иные права и интересы граждан и юридических лиц или требования законодательства Российской Федерации.

        6.4. Пользователям Сайта запрещается:

        осуществлять массовые рассылки сообщений без согласия других Пользователей Сайта;
        использовать программное обеспечение и осуществлять действия, направленные на нарушение нормального функционирования Сайта;
        публиковать и распространять на Сайте или иным образом использовать вирусы, трояны и другие вредоносные программы;
        размещать на Сайте коммерческую и политическую рекламу;
        осуществлять иные действия, которые могут нанести вред Сайту, Компании и Пользователям.

        <h2>7. Права и обязанности Компании</h2>

        7.1. Компания предоставляет Пользователям Сайта технические возможности для пользования Сайтом.

        7.2. Компания имеет право обрабатывать Персональные Данные Пользователей Сайта.

        7.3. Компания обязуется рассматривать уведомления, направленные через форму обратной связи www.megamall.ru/feedback/ , либо по адресу: ООО «ИКЕА МОС (Торговля и Недвижимость)», 141400, Российская Федерация, Московская область, г.Химки, ул. Ленинградская, владение 39, строение 5.

        7.4. Несмотря на то, что Компания старается предоставлять точную информацию на Сайте, Компания не несет никакой ответственности за точность информации, размещенной на Сайте. Ответственность за сроки проведения распродаж, размер заявленных скидок, качество товара/услуги, а также наличие товаров и т.п. несет соответствующий магазин торгового центра «МЕГА».

        7.5. Вся информация, представленная на Сайте, идет под знаком «как есть» («as is») с возможными ошибками, без гарантий любого вида, прямо выраженных или подразумеваемых. Компания не предоставляет никаких гарантий в отношении информации, размещенной на Сайте. Компания не несет ответственности за какие-либо непрямые, прямые, фактические или косвенные убытки, включая упущенную выгоду, в результате использования размещенной на Сайте информации, даже если Компания была предупреждена о возможности подобных убытков.
        <h2>8. Изменения</h2>

        8.1. Компания вправе вносить изменения в данные Правила. Изменения будут опубликованы на веб-сайте www.megamall.ru, а также, при необходимости, в других источниках Компании. Изменения будут распространяться, в том числе на тех лиц, которые являются Пользователями Сайта на момент вступления в силу изменений. Изменения начнут действовать по истечении 30 дней с момента их публикации на сайте www.megamall.ru.

    </div>
    <div class="column is-2"></div>
</div>

{% include 'components/footer.twig' %}