{% include 'components/header.twig' %}

<div class="columns">
    {% include 'components/menu.twig' %}
    <div class="column">
        <div class="content">

            <div>
                <h1>Данные аккаунта :)</h1>
                {% include error|default('msg/none')~'.twig' %}
                <div class="field">
                    <img class="avatar-settings" src="{{ user_avatar }}" alt="Аватарка">
                </div>

                <div class="field">
                    <h3> Имя: {{ user_name }}</h3>
                </div>

                <div class="field">
                    <h3>Username: {{ user_username }} </h3>
                </div>

                <div class="field">
                    <h3 class="label">Email: {{ user_email }}</h3>
                </div>

                <div class="field">
                    {% if viewing_guests == true %}
                        <h3 class="label">Просмотр гостям разрешен</h3>
                    {% else %}
                        <h3 class="label">Просмотр гостям запрещен</h3>
                    {% endif %}
                </div>

                <div class="field">
                    <a href="/public/settings/update" class="button is-link">Изменить</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'components/footer.twig' %}