{% include 'components/header.twig' %}

<div class="columns">
    {% include 'components/menu.twig' %}
    <div class="column">
        <div class="content">

            <div>
                <h1>Редактирование данных аккаунта</h1>
                {% include error|default('msg/none')~'.twig' %}
                <form name="form1" action="/public/settings/update" enctype="multipart/form-data" method="post">
                    <div class="field">
                        <img class="avatar-settings" src="{{ user_avatar }}" alt="Аватарка">
                        <div id="upload-file" class="file has-name">
                            <label class="file-label">
                                <input class="file-input" type="file" name="avatar">
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">Выберите файл...</span>
                                </span>
                                <span class="file-name">Файл не выбран</span>
                            </label>
                        </div>
                        <script>
                            const fileInput = document.querySelector('#upload-file input[type=file]');
                            fileInput.onchange = () => {
                                if (fileInput.files.length > 0) {
                                    const fileName = document.querySelector('#upload-file .file-name');
                                    fileName.textContent = fileInput.files[0].name;
                                }
                            }
                        </script>
                    </div>

                    <div class="field">
                        <label class="label">Имя</label>
                        <div class="control">
                            <input class="input" type="text" name="name" placeholder="Введите Ваше имя" value="{{ user_name }}">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Email:</label>
                        <div class="control">
                            <input class="input" type="text" name="email" placeholder="Введите Ваш Email" value="{{ user_email }}">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Текущий пароль (обязательно)</label>
                        <div class="control">
                            <input class="input" type="password" name="current-password" placeholder="Введите Ваш текущий пароль">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Новый пароль</label>
                        <div class="control">
                            <input class="input" type="password" name="new-password" placeholder="Введите новый пароль">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Повторите новый пароль</label>
                        <div class="control">
                            <input class="input" type="password" name="confirm-new-password" placeholder="Повторите новый пароль">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                {% if viewing_guests %}
                                    <input type="checkbox" name="viewing_guests" checked>
                                {% else %}
                                    <input type="checkbox" name="viewing_guests">
                                {% endif %}
                                Просмотр гостям разрешен
                            </label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-link" type="submit">Обновить данные</button>
                            <a href="/public/settings" class="button is-link">Отменить</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% include 'components/footer.twig' %}