<html>

<head>
    <title></title>
</head>

<body>
<form name="form1" action="/public/file/upload/photo" enctype="multipart/form-data" method="post">
    <input type="file" name="path" title="Выберите файл"/> </br>
    </br>
    <input type="submit" name="button" /> </br>


</body>

</html>