.logo{
    height: 5.75em;
}

.menu-list-a{
    font-size: 1.75em;
}

.card-twitter{
    margin-bottom: 15px;
}

.avatar-settings{
    height: 10em;
}

.avatar-profile{
    height: 10em;
}

.input-twit{
    resize: none;
}

.button-edit{
    border: none;
}

html,body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

footer{
    flex-shrink: 0;
}

.wrapper{
    flex: 1 0 auto;
}